@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

body {
    
   
    background: #010033;
    
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 41s linear infinite;
}




.background li:nth-child(0) {
    left: 64%;
    width: 8px;
    height: 8px;
    bottom: -8px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 60%;
    width: 1px;
    height: 1px;
    bottom: -1px;
    animation-delay: 5s;
}
.background li:nth-child(2) {
    left: 78%;
    width: 192px;
    height: 192px;
    bottom: -192px;
    animation-delay: 6s;
}
.background li:nth-child(3) {
    left: 27%;
    width: 116px;
    height: 116px;
    bottom: -116px;
    animation-delay: 5s;
}
.background li:nth-child(4) {
    left: 12%;
    width: 11px;
    height: 11px;
    bottom: -11px;
    animation-delay: 4s;
}
.background li:nth-child(5) {
    left: 4%;
    width: 52px;
    height: 52px;
    bottom: -52px;
    animation-delay: 1s;
}
.background li:nth-child(6) {
    left: 45%;
    width: 110px;
    height: 110px;
    bottom: -110px;
    animation-delay: 11s;
}
.background li:nth-child(7) {
    left: 44%;
    width: 184px;
    height: 184px;
    bottom: -184px;
    animation-delay: 16s;
}
.background li:nth-child(8) {
    left: 82%;
    width: 159px;
    height: 159px;
    bottom: -159px;
    animation-delay: 33s;
}
.background li:nth-child(9) {
    left: 83%;
    width: 158px;
    height: 158px;
    bottom: -158px;
    animation-delay: 32s;
}
.background li:nth-child(10) {
    left: 54%;
    width: 47px;
    height: 47px;
    bottom: -47px;
    animation-delay: 14s;
}
.background li:nth-child(11) {
    left: 85%;
    width: 53px;
    height: 53px;
    bottom: -53px;
    animation-delay: 55s;
}
.background li:nth-child(12) {
    left: 16%;
    width: 126px;
    height: 126px;
    bottom: -126px;
    animation-delay: 49s;
}
.background li:nth-child(13) {
    left: 49%;
    width: 36px;
    height: 36px;
    bottom: -36px;
    animation-delay: 22s;
}
.background li:nth-child(14) {
    left: 61%;
    width: 88px;
    height: 88px;
    bottom: -88px;
    animation-delay: 22s;
}
.background li:nth-child(15) {
    left: 72%;
    width: 121px;
    height: 121px;
    bottom: -121px;
    animation-delay: 36s;
}
.background li:nth-child(16) {
    left: 60%;
    width: 199px;
    height: 199px;
    bottom: -199px;
    animation-delay: 32s;
}
.background li:nth-child(17) {
    left: 66%;
    width: 166px;
    height: 166px;
    bottom: -166px;
    animation-delay: 19s;
}
.background li:nth-child(18) {
    left: 45%;
    width: 182px;
    height: 182px;
    bottom: -182px;
    animation-delay: 19s;
}
.background li:nth-child(19) {
    left: 50%;
    width: 62px;
    height: 62px;
    bottom: -62px;
    animation-delay: 70s;
}
.background li:nth-child(20) {
    left: 40%;
    width: 61px;
    height: 61px;
    bottom: -61px;
    animation-delay: 44s;
}
.background li:nth-child(21) {
    left: 89%;
    width: 72px;
    height: 72px;
    bottom: -72px;
    animation-delay: 73s;
}
.background li:nth-child(22) {
    left: 63%;
    width: 140px;
    height: 140px;
    bottom: -140px;
    animation-delay: 50s;
}