<html>
<head>
    <meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bg.css">
    <link rel="stylesheet" href="../static/main.css">
    
    <script type="text/javascript" >
    
    const add = async function(){
       
        let url = document.getElementById('url').value;
        console.log(url);
        let valid = url.match(/(http(s)?:\/\/.)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)/g);
        if (valid){
        const tobe = `<div class="center">
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
    </div>`;

        document.getElementById('loading').innerHTML = tobe;
        const res = await postData('/post',{mes: url});
        document.getElementById('loading').innerHTML = "";
        document.getElementById('enter').innerText = res;
        console.log(res);
}
    else{
        alert('invalid URL')
    }

    }

    
    const postData = async ( url = '', data = {})=>{
    
    const response = await fetch(url, {
    method: 'POST', 
    credentials: 'same-origin', 
    headers: {
        'Content-Type': 'application/json',
    },
    body: JSON.stringify(data), 
  });

    try {
      const newData = await response.json();
      
      return newData;
    }catch(error) {
    console.log("error", error);
    }
};


    
    
    



   

    </script>
    <title>Summary</title>
</head>


    <body>
    
        
        <div class="grid-container">
            
            <div class="grid-item ">
                <h1>Welcome to Summary</h1>
                <p>this app uses a convolutional neural network to generate a summary for a youtube video</p>
                <p>Notes:<br> -The audio of the video has to be english <br> -The video should have transcript enabled <br> -This might take a few minutes depending on the length of the transcript</p>
                <!-- <input type="text" id="url" name="fname" class="in"><br> -->
                <label class="field field_v3">
                    <input class="field__input" placeholder="e.g. https://www.youtube.com/watch?v=i5PtaCJJFjw" id="url">
                    <span class="field__label-wrap">
                      <span class="field__label">URL</span>
                    </span>
                  </label><br>
                <!-- <div class="submit"><input type = "button" onclick = "add()" value = "enter" class="date"></div> -->
                <button class="button-29" role="button" onclick="add()">Generate Summary</button>
                
            </div>
            <div class="grid-item">
                <div id="loading"></div>
                
                <p id="enter"></p>
            </div>
        </div>

        
        
    </body>



 


</html>